{
  "manifest-revision": "1.0",
  "charts": [
    {
      "archive": "charts/icp-cloudant-backup-chart-__CHART-VERSION__.tgz"
    }
  ],
  "images": [
    {
      "image": "ibmcase/icp-cloudant-backup",
      "tag": "__IMAGE-TAG__",
      "archive": "images/icp-cloudant-backup-image-__IMAGE-VERSION__.tgz"
    }
  ]
}
