revision: "1.0"
output-filename: ""
charts:
- archive: charts/icp-cloudant-backup-chart-__CHART-VERSION__.tgz

images:
- image: ibmcase/icp-cloudant-backup:__IMAGE-TAG__
  refereneces:
  - repository: ibmcase/icp-cloudant-backup:__IMAGE-TAG__
